<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h2 style="color: white">Laço Jeans</h2>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
      Cadastro <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-usuario']">Usuario</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-cliente']">Cliente</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-fornecedor']">Fornecedor</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-produto']">Produto</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-materiaprima']">Matéria Prima</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-venda']">Venda</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-transportadora']">Transportadora</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-grupo']">Grupo</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-marca']">Marca</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cadastros/cadastro-situacao']">Situação</a></li>
    </ul>
  </div>
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
      Relatório <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" href="#">Usuario</a></li>
      <li role="menuitem"><a class="dropdown-item" >Cliente</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Fornecedor</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Produto</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Matéria Prima</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Venda</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Transportadora</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Grupo</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Marca</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Situação</a></li>
     </ul>
  </div>
  <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Financeiro <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          Estoque <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Produto</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Matéria Prima</a></li>
        </ul>
      </div>
      <div class="btn-group" dropdown> 
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            Produção <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
      <div class="btn-group" dropdown> 
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            Outros <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </div>
   
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

